<ng-container *ngIf="screenSize$ | async as screenSize">
  <container-element [ngSwitch]="screenSize">
    <div
      *ngIf="localizationData$ | async as localizationData"
      [dir]="localizationData.dir"
      class="wrap"
      [class.mobile-wrap]="screenSize === 'SMALL'"
    >
      <ng-container *ngSwitchCase="'SMALL'">
        <ng-container *ngTemplateOutlet="smallTpl"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'MEDIUM'">
        <ng-container *ngTemplateOutlet="mediumToLargeTpl"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'LARGE'">
        <ng-container *ngTemplateOutlet="mediumToLargeTpl"></ng-container>
      </ng-container>

      <ng-template #smallTpl>
        <h2 class="header">
          {{ 'Members and bookings' | translate }}
        </h2>
        <div class="members">
          <div class="users">
            <div class="item" *ngFor="let user of members; let first = first">
              <ng-container *ngIf="first; else otherUserTpl">
                <span class="name organizer">
                  {{ user.name }}
                </span>
              </ng-container>
              <ng-template #otherUserTpl>
                <p class="other-user m-0">
                  <span class="name">
                    {{ user.name }}
                  </span>
                  <ng-container [ngSwitch]="getResponseAnswer(user)">
                    <ng-container *ngSwitchCase="'ACCEPT'">
                      <span class="accept" nz-icon nzType="check" nzTheme="outline"></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'DECLINE'">
                      <span class="declined" nz-icon nzType="close" nzTheme="outline"></span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span nz-icon nzType="question" nzTheme="outline"></span>
                    </ng-container>
                  </ng-container>
                </p>
                <span
                  *ngIf="
                    !appointment ||
                    (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
                  "
                  nz-icon
                  nzType="close-custom"
                  nzTheme="outline"
                  (click)="deleteMember(user)"
                ></span>
              </ng-template>
            </div>
            <div class="item" *ngFor="let mail of externalMails">
              <span class="name">{{ mail }}</span>
              <span
                *ngIf="
                  !appointment ||
                  (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
                "
                nz-icon
                nzType="close-custom"
                nzTheme="outline"
                (click)="deleteExternalMail(mail)"
              ></span>
            </div>
            <span
              class="add-btn"
              *ngIf="
                !(
                  !!appointment &&
                  (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
                )
              "
              (click)="openAddUserBottomDrawer()"
            >
              {{ 'Add a user' | translate }}
            </span>
          </div>
          <div class="rooms">
            <div class="item" *ngFor="let room of rooms" (click)="openRoomDetails(room)">
              <span class="name">{{ room | dictLocalization: 'name':localizationData.lang }}</span>
              <span
                *ngIf="
                  !appointment ||
                  (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
                "
                nz-icon
                nzType="close-custom"
                nzTheme="outline"
                (click)="deleteRoom(room)"
              ></span>
            </div>
            <span
              class="add-btn"
              (click)="openAddRoomBottomDrawer()"
              *ngIf="
                !(
                  !!appointment &&
                  (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
                )
              "
            >
              {{ 'Add a meeting room' | translate }}
            </span>
          </div>
        </div>
      </ng-template>

      <ng-template #mediumToLargeTpl>
        <h2 class="header">
          {{ 'Members and bookings' | translate }}
        </h2>
        <nz-divider class="mb-3 mt-3"></nz-divider>
        <div class="container" [style.max-height.px]="subLayoutHeight - 190">
          <div class="title">
            <div class="header">{{ 'Colleagues \\\ hours' | translate }}</div>
            <div class="members">
              <div class="item" *ngFor="let user of members; let first = first">
                <ng-container *ngIf="first; else otherUserTpl">
                  <nz-tag [style.max-width.px]="180" [nzColor]="'orange'">
                    <span class="name">
                      {{ user.name }}
                    </span>
                  </nz-tag>
                </ng-container>
                <ng-template #otherUserTpl>
                  <nz-tag
                    [style.max-width.px]="180"
                    [nzMode]="
                      !appointment ||
                      (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
                        ? 'closeable'
                        : 'default'
                    "
                    (nzOnClose)="deleteMember(user)"
                  >
                    <span class="name">
                      {{ user.name }}
                    </span>
                    <ng-container [ngSwitch]="getResponseAnswer(user)">
                      <ng-container *ngSwitchCase="'ACCEPT'">
                        <span class="accept" nz-icon nzType="check" nzTheme="outline"></span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'DECLINE'">
                        <span class="declined" nz-icon nzType="close" nzTheme="outline"></span>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <span nz-icon nzType="question" nzTheme="outline"></span>
                      </ng-container>
                    </ng-container>
                  </nz-tag>
                </ng-template>
              </div>
              <div class="item" *ngFor="let mail of externalMails">
                <nz-tag
                  [style.max-width.px]="180"
                  [nzColor]="'gray'"
                  [nzMode]="
                    !appointment ||
                    (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
                      ? 'closeable'
                      : 'default'
                  "
                  (nzOnClose)="deleteExternalMail(mail)"
                >
                  <span class="name">{{ mail }}</span>
                </nz-tag>
              </div>
              <nz-divider class="mb-1 mt-0" nzDashed *ngIf="rooms?.length"></nz-divider>
              <div class="item" *ngFor="let room of rooms">
                <nz-tag
                  [style.max-width.px]="180"
                  [nzColor]="'purple'"
                  [nzMode]="
                    !appointment ||
                    (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
                      ? 'closeable'
                      : 'default'
                  "
                  (nzOnClose)="deleteRoom(room)"
                  ><span class="name">{{ room | dictLocalization: 'name':localizationData.lang }}</span></nz-tag
                >
              </div>
            </div>
          </div>
          <div
            class="timetable"
            #timetableTpl
            [style.height.px]="
              ((members?.length || 0) + (externalMails.length || 0) + (rooms?.length || 0)) * 30 +
              45 +
              (rooms?.length ? 15 : 0)
            "
          >
            <div
              *ngIf="
                !appointment ||
                (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
              "
              [class.selected-range-marker-ltr]="localizationData.dir === 'ltr'"
              [class.selected-range-marker-rtl]="localizationData.dir === 'rtl'"
              [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointment(putAppointmentRequest) : 'unset'"
              [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointment(putAppointmentRequest) : 'unset'"
              (mousedown)="onStartStartDragging()"
            ></div>
            <div
              *ngIf="
                !appointment ||
                (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
              "
              [class.selected-range-marker-ltr]="localizationData.dir === 'ltr'"
              [class.selected-range-marker-rtl]="localizationData.dir === 'rtl'"
              [style.left.px]="
                localizationData.dir === 'ltr'
                  ? leftByAppointment(putAppointmentRequest) + widthByAppointment(putAppointmentRequest)
                  : 'unset'
              "
              [style.right.px]="
                localizationData.dir === 'rtl'
                  ? leftByAppointment(putAppointmentRequest) + widthByAppointment(putAppointmentRequest)
                  : 'unset'
              "
              (mousedown)="onStartEndDragging()"
            ></div>
            <div
              class="selected-range"
              [style.height.px]="
                ((members?.length || 0) + (externalMails.length || 0) + (rooms?.length || 0)) * 30 +
                35 +
                (rooms?.length ? 15 : 0)
              "
              [style.width.px]="widthByAppointmentAbs(putAppointmentRequest)"
              [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointmentAbs(putAppointmentRequest) : 'unset'"
              [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointmentAbs(putAppointmentRequest) : 'unset'"
            ></div>
            <div
              class="drag"
              [style.height.px]="
                ((members?.length || 0) + (externalMails.length || 0) + (rooms?.length || 0)) * 30 +
                40 +
                (rooms?.length ? 15 : 0)
              "
            >
              <div class="dummy"></div>
              <div
                class="t-15"
                [class.disabled]="t.disabled"
                *ngFor="let t of dragFieldColumns"
                (mouseenter)="onSelect(t)"
              >
                <div
                  [class.hour-ltr]="localizationData.dir === 'ltr'"
                  [class.hour-rtl]="localizationData.dir === 'rtl'"
                  *ngIf="!t.dateTimeFromDate.getMinutes()"
                >
                  {{ t.dateTimeFromDate | date: 'HH' }}
                </div>
                <div
                  [class.divider-ltr]="localizationData.dir === 'ltr'"
                  [class.divider-rtl]="localizationData.dir === 'rtl'"
                  *ngIf="!t.dateTimeFromDate.getMinutes()"
                >
                  |
                </div>
              </div>
            </div>
            <div class="members">
              <div class="item" *ngFor="let user of members">
                <ng-container *ngFor="let appointment of user.dayAppointments">
                  <div
                    class="appointment"
                    *ngIf="appointment.iCalUId !== iCalUId"
                    nz-popover
                    [nzPopoverContent]="appointment.subject"
                    [style.width.px]="widthByAppointment(appointment)"
                    [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointment(appointment) : 'unset'"
                    [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointment(appointment) : 'unset'"
                  ></div>
                </ng-container>
                <div
                  class="hour-cell"
                  [class.br-divider]="
                    (last && localizationData.dir === 'ltr') || (first && localizationData.dir === 'rtl')
                  "
                  *ngFor="let hour of hoursFieldColumns; let last = last; let first = first"
                  [style.width.px]="widthByAppointment(hour)"
                  [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointment(hour) : 'unset'"
                  [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointment(hour) : 'unset'"
                ></div>
              </div>
              <div class="item" *ngFor="let mail of externalMails">
                <div
                  class="hour-cell"
                  [class.br-divider]="
                    (last && localizationData.dir === 'ltr') || (first && localizationData.dir === 'rtl')
                  "
                  *ngFor="let hour of hoursFieldColumns; let last = last; let first = first"
                  [style.width.px]="widthByAppointment(hour)"
                  [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointment(hour) : 'unset'"
                  [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointment(hour) : 'unset'"
                ></div>
              </div>
              <nz-divider
                [style.margin-bottom.px]="4"
                [style.margin-top.px]="4"
                nzDashed
                *ngIf="rooms?.length"
              ></nz-divider>
              <div class="item" *ngFor="let room of rooms">
                <ng-container *ngFor="let appointment of room.dayAppointments">
                  <div
                    class="appointment"
                    nz-popover
                    [nzPopoverContent]="appointment.subject"
                    *ngIf="appointment.iCalUId !== iCalUId"
                    [style.width.px]="widthByAppointment(appointment)"
                    [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointment(appointment) : 'unset'"
                    [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointment(appointment) : 'unset'"
                  ></div>
                </ng-container>
                <div
                  class="hour-cell"
                  [class.br-divider]="
                    (last && localizationData.dir === 'ltr') || (first && localizationData.dir === 'rtl')
                  "
                  *ngFor="let hour of hoursFieldColumns; let last = last; let first = first"
                  [style.width.px]="widthByAppointment(hour)"
                  [style.left.px]="localizationData.dir === 'ltr' ? leftByAppointment(hour) : 'unset'"
                  [style.right.px]="localizationData.dir === 'rtl' ? leftByAppointment(hour) : 'unset'"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <nz-divider class="bottom-divider"></nz-divider>
        <div class="actions mt-3">
          <button
            (click)="toggleUsersInDrawerShow()"
            nz-button
            nzType="primary"
            nzGhost
            [disabled]="
              !!appointment &&
              (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
            "
          >
            <span nz-icon nzType="user" nzTheme="outline"></span>
            {{ 'Add a user' | translate }}
          </button>
          <button
            (click)="toggleRoomsInDrawerShow()"
            nz-button
            nzType="primary"
            nzGhost
            [disabled]="
              !!appointment &&
              (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
            "
          >
            <span nz-icon nzType="room-custom" nzTheme="outline"></span>
            {{ 'Add a meeting room' | translate }}
          </button>
        </div>

        <!-- add user drawer -->
        <nz-drawer
          [nzClosable]="false"
          [nzVisible]="usersInDrawerShow"
          [nzPlacement]="localizationData.dir === 'ltr' ? 'right' : 'left'"
          (nzOnClose)="toggleUsersInDrawerShow()"
        >
          <ng-container *nzDrawerContent>
            <ng-container *ngTemplateOutlet="addUserDrawerTpl"></ng-container>
          </ng-container>
        </nz-drawer>

        <!-- add room drawer -->
        <nz-drawer
          [nzClosable]="false"
          [nzVisible]="roomsInDrawerShow"
          [nzPlacement]="localizationData.dir === 'ltr' ? 'right' : 'left'"
          (nzOnClose)="toggleRoomsInDrawerShow()"
        >
          <ng-container *nzDrawerContent>
            <ng-container *ngTemplateOutlet="addRoomDrawerTpl"></ng-container>
          </ng-container>
        </nz-drawer>
      </ng-template>

      <ng-template #addUserDrawerTpl>
        <div class="drawer" [class.mobile-drawer]="screenSize === 'SMALL'">
          <h3 class="drawer-header mb-3" *ngIf="screenSize !== 'SMALL'">
            {{ 'Add a user' | translate }}
          </h3>
          <div class="drawer-formgroup mb-3">
            <nz-form-item class="mt-0 mb-0">
              <nz-form-control>
                <div class="row">
                  <span class="label">{{ 'Only favourites' | translate }}</span>
                  <nz-switch
                    [(ngModel)]="filteredUsersWithPaginationService.onlyFavourite"
                    (ngModelChange)="reloadUsers()"
                  ></nz-switch>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="m-0">
              <nz-form-control>
                <nz-input-group>
                  <div class="row">
                    <ng-container *ngIf="screenSize === 'SMALL'; else desktopSelectTpl">
                      <sows-custom-select
                        (ngModelChange)="reloadUsers()"
                        [(ngModel)]="filteredUsersWithPaginationService.labelGroupId"
                        [options]="labelGroupOptions"
                        [selectHeader]="'Department' | translate"
                        [selectDrawerTitle]="'Department' | translate"
                      ></sows-custom-select>
                    </ng-container>
                    <ng-template #desktopSelectTpl>
                      <span class="label">{{ 'Department' | translate }}</span>
                      <nz-select
                        class="control-medium"
                        [(ngModel)]="filteredUsersWithPaginationService.labelGroupId"
                        (ngModelChange)="reloadUsers()"
                      >
                        <nz-option [nzLabel]="'Select all' | translate" [nzValue]="-5000"></nz-option>
                        <nz-option
                          *ngFor="let labelGroup of labelGroups"
                          [nzLabel]="labelGroup.name"
                          [nzValue]="labelGroup.id"
                        ></nz-option>
                      </nz-select>
                    </ng-template>
                  </div>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="m-0">
              <nz-form-control>
                <ng-container *ngIf="screenSize === 'SMALL'; else desktopInputTpl">
                  <sows-mobile-input
                    [inputLabelIcon]="'search'"
                    [inputLabel]="'Search' | translate"
                    [inputType]="'text'"
                    [(ngModel)]="filteredUsersWithPaginationService.usersSearchStr"
                    (ngModelChange)="reloadUsers()"
                  ></sows-mobile-input>
                </ng-container>
                <ng-template #desktopInputTpl>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input
                      #usersSearch
                      nz-input
                      type="text"
                      [placeholder]="'Search by full name' | translate"
                      [(ngModel)]="filteredUsersWithPaginationService.usersSearchStr"
                      (ngModelChange)="reloadUsers()"
                    />
                  </nz-input-group>
                </ng-template>
                <ng-template #suffixIconSearch>
                  <span
                    *ngIf="filteredUsersWithPaginationService.usersSearchStr"
                    (click)="clearUsersSearchStr()"
                    class="pointer"
                    nz-icon
                    nzType="close"
                  ></span>
                  <span nz-icon nzType="search"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="user-container"
            (click)="onAddExternalMember()"
            *ngIf="!usersInDrawer?.length && isUsersSearchStrEmail"
          >
            <div class="user-item pointer">
              <div class="short-info ellipsis">
                <div>
                  <span class="icon" nz-icon nzType="add-user-custom" nzTheme="outline"></span>
                </div>
                <div>
                  <div class="title">
                    {{ filteredUsersWithPaginationService.usersSearchStr }}
                  </div>
                  <div class="user_info__department">
                    {{ 'Add external user' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <cdk-virtual-scroll-viewport
            #memberUsersCdkVirtualScrollViewport
            [itemSize]="75"
            [maxBufferPx]="userDrawerHeight"
            [minBufferPx]="75"
            [style.height.px]="userDrawerHeight"
            class="w-100"
          >
            <div class="user-container" [class.user-container-mobile]="screenSize === 'SMALL'">
              <div class="user-item pointer" (click)="onAddMember(user)" *cdkVirtualFor="let user of usersInDrawer">
                <div class="short-info">
                  <div>
                    <ng-container *ngIf="isUserSelected(user); else notSelectedTpl">
                      <span class="icon-checked" nz-icon nzType="checkmark-bold-custom" nzTheme="outline"></span>
                    </ng-container>
                    <ng-template #notSelectedTpl>
                      <span class="icon" nz-icon nzType="add-user-custom" nzTheme="outline"></span>
                    </ng-template>
                  </div>
                  <div>
                    <div class="title ellipsis">
                      {{ user.name }}
                      <img *ngIf="user.isFavourite" [src]="FAV" [alt]="'Favourites' | translate" />
                    </div>
                    <div class="user_info__department">
                      <div
                        *ngIf="user.labelGroupsData.length"
                        [ngClass]="{ 'line-no-post': !user.post }"
                        class="line-wrap"
                      >
                        <p
                          [ngClass]="{
                            'group-no-count': getUserGroupCount(user.labelGroupsData) <= 0
                          }"
                          [nzPopoverContent]="
                            getPopoverVisibility(user.labelGroupsData) ? getPopoverContent(user.labelGroupsData) : ''
                          "
                          class="m-0 group"
                          nz-popover
                        >
                          {{ user.labelGroupsData[0].name }}
                        </p>
                        <i
                          *ngIf="getUserGroupCount(user.labelGroupsData) > 0"
                          [ngClass]="{ right: localizationData.dir === 'ltr', left: localizationData.dir === 'rtl' }"
                          >{{ '(+' + getUserGroupCount(user.labelGroupsData) + ')' }}</i
                        >
                      </div>
                      <span *ngIf="user.labelGroupsData.length && user.post">•</span>
                      <p [class.post-full-length]="!user.labelGroupsData.length" class="m-0 post">
                        {{ user.post }}
                      </p>
                    </div>
                  </div>
                </div>
                <ng-template #userGroupsTpl>
                  <sows-department-name [groups]="user.labelGroupsData"></sows-department-name>
                </ng-template>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </ng-template>

      <ng-template #addRoomDrawerTpl>
        <div class="drawer" [class.mobile-drawer]="screenSize === 'SMALL'">
          <h3 class="drawer-header mb-2" *ngIf="screenSize !== 'SMALL'">
            {{ 'Add a meeting room' | translate }}
          </h3>
          <div #roomFormGroupContent class="drawer-formgroup mb-3">
            <ng-container *ngIf="screenSize !== 'SMALL'; else mobileFormTpl">
              <nz-form-item class="mt-0 mb-0">
                <nz-form-control>
                  <div class="row">
                    <span class="label">{{ 'Only favourites' | translate }}</span>
                    <nz-switch
                      [(ngModel)]="filteredRoomsWithPaginationService.onlyFavourite"
                      (ngModelChange)="reloadRooms()"
                    ></nz-switch>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mt-0 mb-0" *ngIf="virtualRoomCount && offices.length">
                <nz-form-control>
                  <div class="row">
                    <span class="label">{{ 'gender.Virtual.4' | translate }}</span>
                    <nz-switch
                      [disabled]="!!currentVirtualRoom"
                      [(ngModel)]="filteredRoomsWithPaginationService.virtual"
                      (ngModelChange)="reloadRooms()"
                    ></nz-switch>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="m-0" *ngIf="offices.length">
                <nz-form-control>
                  <nz-input-group>
                    <div class="row">
                      <span class="label">
                        {{ 'Office' | translate }}
                      </span>
                      <nz-select
                        [disabled]="filteredRoomsWithPaginationService.virtual"
                        class="control-medium"
                        [(ngModel)]="filteredRoomsWithPaginationService.buildingId"
                        (ngModelChange)="reloadRooms()"
                      >
                        <nz-option
                          *ngFor="let office of offices"
                          [nzLabel]="office | dictLocalization: 'name':localizationData.lang"
                          [nzValue]="office.id"
                        ></nz-option>
                      </nz-select>
                    </div>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="m-0" *ngIf="selectedOffice && offices.length">
                <nz-form-control>
                  <nz-input-group>
                    <div class="row">
                      <span class="label">
                        {{ 'Floor' | translate }}
                      </span>
                      <nz-select
                        class="control-small"
                        [disabled]="filteredRoomsWithPaginationService.virtual"
                        [(ngModel)]="filteredRoomsWithPaginationService.floorMapId"
                        (ngModelChange)="reloadRooms()"
                      >
                        <nz-option
                          *ngFor="let floorMap of selectedOffice.floorMaps"
                          [nzLabel]="floorMap | dictLocalization: 'name':localizationData.lang"
                          [nzValue]="floorMap.id"
                        ></nz-option>
                      </nz-select>
                    </div>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="m-0">
                <nz-form-control>
                  <nz-input-group>
                    <div class="row">
                      <span class="label">
                        {{ 'Number of seats' | translate }}
                      </span>
                      <nz-input-number
                        [nzMin]="0"
                        [nzMax]="100"
                        [nzStep]="1"
                        [(ngModel)]="filteredRoomsWithPaginationService.seatCount"
                        (ngModelChange)="reloadRooms()"
                      ></nz-input-number>
                    </div>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="m-0">
                <nz-form-control>
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input
                      #roomsSearch
                      nz-input
                      type="text"
                      [placeholder]="'Search meeting room' | translate"
                      [(ngModel)]="filteredRoomsWithPaginationService.roomsSearchStr"
                      (ngModelChange)="reloadRooms()"
                    />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <span
                      *ngIf="filteredRoomsWithPaginationService.roomsSearchStr"
                      (click)="clearRoomsSearchStr()"
                      class="pointer"
                      nz-icon
                      nzType="close"
                    ></span>
                    <span nz-icon nzType="search"></span>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <ng-template #mobileFormTpl>
              <div class="row">
                <nz-form-item class="m-0 row-item" *ngIf="offices.length">
                  <nz-form-control>
                    <nz-input-group>
                      <div class="row">
                        <sows-custom-select
                          [(ngModel)]="filteredRoomsWithPaginationService.buildingId"
                          (ngModelChange)="reloadRooms()"
                          [options]="officeOptions"
                          [selectHeader]="'Office' | translate"
                          [selectDrawerTitle]="'Select an office' | translate"
                        ></sows-custom-select>
                      </div>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="m-0 row-item" *ngIf="selectedOffice && offices.length">
                  <nz-form-control>
                    <nz-input-group>
                      <div class="row">
                        <sows-custom-select
                          [(ngModel)]="filteredRoomsWithPaginationService.floorMapId"
                          (ngModelChange)="reloadRooms()"
                          [options]="floorOptions"
                          [selectHeader]="'Floor' | translate"
                          [selectDrawerTitle]="'Select a floor' | translate"
                        ></sows-custom-select>
                      </div>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-form-item class="m-0">
                <nz-form-control>
                  <nz-input-group>
                    <div class="row">
                      <sows-mobile-input
                        [(ngModel)]="filteredRoomsWithPaginationService.seatCount"
                        (ngModelChange)="reloadRooms()"
                        [inputType]="'number'"
                        [inputLabel]="'Number of seats' | translate"
                      ></sows-mobile-input>
                    </div>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <sows-custom-collapse
                [title]="'Show all filters' | translate"
                (emitActiveChange)="isMobileFilterCollapseAcive = $event"
                [collapseContentTpl]="collapseTpl"
              ></sows-custom-collapse>
              <ng-template #collapseTpl>
                <nz-form-item class="m-0 mb-2">
                  <nz-form-control>
                    <sows-mobile-input
                      [inputLabelIcon]="'search'"
                      [inputLabel]="'Search' | translate"
                      [inputType]="'text'"
                      [(ngModel)]="filteredRoomsWithPaginationService.roomsSearchStr"
                      (ngModelChange)="reloadRooms()"
                    ></sows-mobile-input>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="mt-0 mb-0">
                  <nz-form-control>
                    <div class="row">
                      <span class="label">{{ 'Only favourites' | translate }}</span>
                      <nz-switch
                        [(ngModel)]="filteredRoomsWithPaginationService.onlyFavourite"
                        (ngModelChange)="reloadRooms()"
                      ></nz-switch>
                    </div>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="mt-0 mb-0" *ngIf="virtualRoomCount && offices.length">
                  <nz-form-control>
                    <div class="row">
                      <span class="label">{{ 'gender.Virtual.4' | translate }}</span>
                      <nz-switch
                        [disabled]="!!currentVirtualRoom"
                        [(ngModel)]="filteredRoomsWithPaginationService.virtual"
                        (ngModelChange)="reloadRooms()"
                      ></nz-switch>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </ng-template>
            </ng-template>
            <!--          <nz-divider class="mb-1 mt-3"></nz-divider>-->
            <!--          <sows-custom-collapse-->
            <!--            [title]="'Show all filters' | translate"-->
            <!--            [collapseContentTpl]="additionalFiltersTpl"-->
            <!--          ></sows-custom-collapse>-->
            <!--          <ng-template #additionalFiltersTpl>-->
            <!--            &lt;!&ndash; nz multiple selection &ndash;&gt;-->
            <!--          </ng-template>-->
          </div>
          <cdk-virtual-scroll-viewport
            #memberRoomsCdkVirtualScrollViewport
            [itemSize]="75"
            [maxBufferPx]="roomDrawerHeight"
            [minBufferPx]="75"
            [style.height.px]="roomDrawerHeight"
            class="w-100"
          >
            <div class="room-container" [class.room-container-mobile]="screenSize === 'SMALL'">
              <div class="room-item pointer" (click)="onAddRoom(room)" *cdkVirtualFor="let room of roomsInDrawer">
                <div class="short-info ellipsis">
                  <div>
                    <ng-container *ngIf="isRoomSelected(room); else notSelectedTpl">
                      <span class="icon-checked" nz-icon nzType="checkmark-bold-custom" nzTheme="outline"></span>
                    </ng-container>
                    <ng-template #notSelectedTpl>
                      <span class="icon" nz-icon nzType="plus-custom" nzTheme="outline"></span>
                    </ng-template>
                  </div>
                  <div>
                    <div class="title">
                      {{ room | dictLocalization: 'name':localizationData.lang }}
                      <img *ngIf="room.isFavourite" [src]="FAV" [alt]="'Favourites' | translate" />
                    </div>
                    <div class="row">
                      <ng-container *ngIf="room.type === 'DEFAULT'; else virtualNameTpl">
                        <div>
                          {{ room.building | dictLocalization: 'name':localizationData.lang }},&nbsp;{{
                            room.floorMap | dictLocalization: 'name':localizationData.lang
                          }}
                        </div>
                        <div>
                          <span
                            [nzTooltipTitle]="'Number of seats' | translate"
                            class="place_info_icons"
                            nz-icon
                            nz-tooltip
                            nzTheme="outline"
                            nzType="team"
                          ></span
                          >&nbsp;<span
                            >{{ room.seatCount }}
                            {{ 'declination.people.' + getPeopleSuffix(room.seatCount) | translate }}</span
                          >
                        </div>
                      </ng-container>
                      <ng-template #virtualNameTpl>
                        <p class="info">
                          <span>{{ 'gender.Virtual.2' | translate }}</span>
                        </p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </ng-template>

      <ng-template #roomDetailsTpl>
        <sows-appointment-editor-booked
          *ngIf="selectedRoomDetails$ | async as selectedRoom"
          [appointment]="appointment"
          [bookedRooms]="selectedRoom"
          [mobileVersion]="true"
        ></sows-appointment-editor-booked>
      </ng-template>
    </div>
  </container-element>
</ng-container>
