@import 'utils';

$title-width: 200px;

.wrap {
  width: 100%;
  min-width: auto;
  max-width: 1200px;
  padding: 24px;
  background-color: var(--card-body-bg-color);

  .header {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 0;
  }

  .container {
    position: relative;
    display: flex;
    overflow-y: auto;

    .title {
      flex: 0 0 $title-width;
      width: $title-width;
      margin-bottom: 10px;

      .header {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: var(--text-color-secondary);
      }

      .members {
        padding-top: 21px;

        .item {
          height: 30px;
          ::ng-deep {
            .ant-tag {
              display: flex;
              align-items: center;
              width: fit-content;
              span {
                display: block;
              }
              .name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    .timetable {
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      flex: 0 0 calc(100% - $title-width);
      width: calc(100% - $title-width);

      .members {
        padding-top: 35px;

        .item {
          position: relative;
          height: 30px;

          .appointment {
            position: absolute;
            z-index: 4;
            top: 2px;
            bottom: 2px;
            border: 1px solid #7dbff9;
            background: repeating-linear-gradient(60deg, #e9f6fe, #e9f6fe 10px, #d3ecfd 10px, #d3ecfd 20px);
          }

          .hour-cell {
            position: absolute;
            z-index: 1;
            top: 2px;
            bottom: 2px;
            border-top: 1px solid var(--divider-color);
            border-bottom: 1px solid var(--divider-color);
            border-left: 1px solid var(--divider-color);
          }

          .br-divider {
            border-right: 1px solid var(--divider-color);
          }
        }
      }

      .selected-range {
        position: absolute;
        z-index: 3;
        top: 5px;
        opacity: 0.05;
        background: #ff7a45;
      }

      .selected-range-marker-ltr,
      .selected-range-marker-rtl {
        position: absolute;
        z-index: 9999;
        top: 50%;
        width: 15px;
        height: 15px;
        cursor: col-resize;
        user-select: none;
        transform: translate(-50%, calc(50% - 2px));
        opacity: 1;
        border: 1px solid #e75f33;
        border-radius: 50%;
        background-color: var(--card-body-bg-color);
      }

      .selected-range-marker-rtl {
        transform: translate(50%, 50%);
      }

      .drag {
        position: absolute;
        z-index: 10;
        top: -5px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;

        .dummy {
          flex: 0 0 15px;
          width: 15px;
        }

        .disabled {
          opacity: 0.4;
          background: linear-gradient(
            180deg,
            transparent 33px,
            var(--timetable-disabled) 33px,
            var(--timetable-disabled) 100%
          );
        }

        .t-15 {
          flex: 0 0 15px;
          width: 15px;
          user-select: none;

          .hour-rtl {
            margin-right: -50%;
          }

          .hour-ltr {
            margin-left: -50%;
          }

          .divider-ltr {
            font-size: 12px;
            margin-top: -6px;
            margin-left: -1px;
            color: var(--divider-color);
          }

          .divider-rtl {
            font-size: 12px;
            margin-top: -6px;
            margin-right: -2px;
            color: var(--divider-color);
          }
        }
      }
    }
  }

  .actions {
    @include flex-start;
    gap: 16px;
  }

  .bottom-divider {
    margin-top: 20px;
    margin-bottom: 16px;
  }
}

.mobile-wrap {
  border-radius: 16px;
  border: 1px solid var(--shadow-color);
  background: var(--mobile-filter-bg-color);
  display: flex;
  flex-direction: column;
  gap: 20px;

  .members {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .add-btn {
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }

    .users,
    .rooms {
      @include flex-start;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      width: 100%;

      .item {
        @include flex-space-between;
        width: 100%;

        .organizer {
          font-weight: 700;
        }
      }
    }

    .rooms {
      .item {
        cursor: pointer;
        .name {
          text-decoration: underline;
          text-decoration-style: dashed;
        }
      }
    }
  }
}

.drawer {
  &-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }

  &-formgroup {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: var(--filter-box-bg-color);
    gap: 8px;

    .row {
      color: var(--text-color-primary);
      @include flex-space-between;

      .control-medium {
        width: 60%;
      }

      .control-small {
        width: 30%;
      }
    }
  }

  .user-container,
  .room-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .user-item,
    .room-item {
      max-width: 318px;
      padding: 16px;
      border: 1px solid var(--divider-color);
      border-radius: 10px;
      background-color: var(--card-body-bg-color);

      &:hover {
        background-color: var(--tree-node-selected);
      }

      &:hover > .short-info > div > .title {
        color: var(--text-color-black);
      }

      .short-info {
        @include flex-start;
        gap: 16px;

        .icon {
          font-size: 22px;
          color: var(--color-primary);
        }

        .icon-checked {
          font-size: 22px;
          color: var(--text-color-secondary);
        }

        .title {
          font-size: 16px;
          line-height: 19px;
          color: var(--text-color-primary);
          @include flex-start;
          gap: 8px;

          img {
            width: 16px;
          }
        }

        .user_info__department {
          font-size: 12px;
          line-height: 18px;
          display: flex;
          overflow: hidden;
          align-items: center;
          justify-content: flex-start;
          max-width: 300px;
          white-space: nowrap;
          color: var(--text-color-secondary);
          gap: 5px;

          .line-wrap {
            position: relative;

            i {
              position: absolute;
              top: 0;
            }

            .left {
              left: 0;
            }

            .right {
              right: 0;
            }
          }

          .line-no-post {
            width: 100%;
          }

          .group {
            overflow: hidden;
            width: calc(100% - 25px);
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .group-no-count {
            width: 100%;
          }

          .post {
            overflow: hidden;
            width: 125px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .post-full-length {
            width: 100%;
          }
        }
      }
    }
  }
}

.mobile-drawer {
  padding: 20px;

  .drawer-formgroup {
    gap: 12px;
    border-radius: 16px;
    border: 1px solid var(--shadow-color);

    .row {
      gap: 16px;
      .row-item {
        flex-grow: 1;
      }
    }
  }

  .room-container-mobile,
  .user-container-mobile {
    width: 100%;
    .user-item,
    .room-item {
      max-width: 100%;
      width: 100%;
    }
  }
}

.accept {
  color: var(--color-success);
}
.declined {
  color: var(--color-danger);
}
