@import 'utils';

.wrap {
  width: 100vw;
  max-width: $max-width;
  background: var(--layout-bg-color);

  .container {
    display: grid;
    padding: 24px;
    grid-gap: 24px;
    grid-template-columns: 330px auto 270px;

    .sider {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

.mobile-wrap {
  background-color: var(--mobile-layout-bg-color);
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-gap: 16px;
    order: 1;
  }

  sows-appointment-editor-header {
    order: 2;
  }
}
