<ng-container *ngIf="screenSize$ | async as screenSize">
  <div
    *ngIf="localizationData$ | async as localizationData"
    [dir]="localizationData.dir"
    class="wrap"
    [class.mobile-wrap]="screenSize === 'SMALL'"
  >
    <ng-container *ngIf="putAppointmentRequest">
      <!-- передать ключь footerMode в хедер и css-ом менять order -->
      <sows-appointment-editor-header
        [footerMode]="screenSize === 'SMALL'"
        [exceptionMessages]="exceptionMessages"
        [appointment]="appointment"
        (delete)="onDelete()"
        (save)="onSave()"
        (extend)="onExtend()"
        (create)="onCreate()"
      ></sows-appointment-editor-header>
      <div class="container" [style.marginBottom.px]="screenSize === 'SMALL' ? footerHeight : 0">
        <sows-appointment-editor-settings
          [exceptionMessages]="exceptionMessages"
          [appointment]="appointment"
        ></sows-appointment-editor-settings>
        <sows-appointment-editor-members
          [iCalUId]="appointment?.iCalUId || null"
          [members]="members"
          [appointment]="appointment"
          [rooms]="rooms"
          [usersInDrawer]="usersInDrawer$ | async"
          [roomsInDrawer]="roomsInDrawer$ | async"
        ></sows-appointment-editor-members>
        <div class="sider">
          <div #vc *ngIf="currentVirtualRoom">
            <sows-appointment-editor-video-conference
              [virtualConference]="currentVirtualRoom"
            ></sows-appointment-editor-video-conference>
          </div>
          <sows-appointment-editor-booked
            *ngIf="screenSize !== 'SMALL'"
            [virtualConferenceHeight]="vcHeight"
            [appointment]="appointment"
            [bookedRooms]="rooms"
          ></sows-appointment-editor-booked>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
