@import 'utils';

.wrap {
  width: 100%;
  padding: 24px 0;
  background-color: var(--card-body-bg-color);

  .header {
    padding: 0 24px;
    .title {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      margin: 0;
    }
  }

  .content {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;

    .header-wrap {
      .name {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin: 0;
        color: var(--text-color-primary);
      }

      .info {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        margin: 0;
        color: var(--text-color-primary);
      }
    }

    .content-wrap {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 18px;

      .actions {
        @include flex-start;
        gap: 14px;

        .icon {
          font-size: 23px;
          color: var(--text-color-primary);
        }
      }

      .tags {
        max-width: 100%;
        //@include flex-start;
        //gap: 10px;
      }
    }
  }

  .empty-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--text-color-secondary);
  }
}

.mobile-wrap {
  .header {
    display: none;
  }
}
