<div class="wrap" [class.mobile-wrap]="mobileVersion" *ngIf="localizationData$ | async as localizationData">
  <div class="header">
    <h3 class="title">{{ 'Booked' | translate }}</h3>
    <nz-divider class="mb-3 mt-3"></nz-divider>
  </div>
  <div class="content" [style.maxHeight.px]="contentHeight">
    <ng-container *ngIf="bookedRooms?.length; else noBookingTpl">
      <div *ngFor="let room of bookedRooms">
        <ng-container *ngIf="mobileVersion; else desktopVersionTpl">
          <ng-container *ngTemplateOutlet="collapseTitleTpl"></ng-container>
          <ng-container *ngTemplateOutlet="collapseContentTpl"></ng-container>
        </ng-container>
        <ng-template #desktopVersionTpl>
          <sows-custom-collapse
            [title]="collapseTitleTpl"
            [collapseContentTpl]="collapseContentTpl"
          ></sows-custom-collapse>
        </ng-template>
        <ng-template #collapseTitleTpl>
          <div class="header-wrap">
            <h4 class="name">{{ room | dictLocalization: 'name':localizationData.lang }}</h4>
            <ng-container *ngIf="room.type === 'DEFAULT'; else virtualNameTpl">
              <p class="info">
                <span *ngIf="room.building"
                  >{{ room.building | dictLocalization: 'name':localizationData.lang }},
                </span>
                <span *ngIf="room.floorMap">{{ room.floorMap | dictLocalization: 'name':localizationData.lang }}</span>
              </p>
              <p class="info">
                <span
                  [nzTooltipTitle]="'Number of seats' | translate"
                  class="place_info_icons"
                  nz-icon
                  nz-tooltip
                  nzTheme="outline"
                  nzType="team"
                ></span
                >&nbsp;<span
                  >{{ room.seatCount }} {{ 'declination.people.' + getPeopleSuffix(room.seatCount) | translate }}</span
                >
              </p>
            </ng-container>
            <ng-template #virtualNameTpl>
              <p class="info">
                <span>{{ 'gender.Virtual.2' | translate }}</span>
              </p>
            </ng-template>
          </div>
        </ng-template>
        <ng-template #collapseContentTpl>
          <div class="content-wrap mt-2">
            <div class="actions" *ngIf="room.type === 'DEFAULT'">
              <!--              <span nz-icon nzType="qrcode" nzTheme="outline" class="pointer icon"></span>-->
              <!--              <span nz-icon nzType="geolocation-custom" nzTheme="outline" class="pointer icon"></span>-->
              <span
                (click)="showOnMap(room.id)"
                [nz-tooltip]="'Show on map' | translate"
                class="pointer icon"
                nz-icon
                nzTheme="outline"
                nzType="geolocation-custom"
              ></span>
              <span
                *ngIf="room.wifiPointSsid"
                nz-icon
                nz-popover
                [nzPopoverContent]="wifiDataTpl"
                nzType="wifi"
                nzTheme="outline"
                class="pointer icon"
              ></span>
              <ng-template #wifiDataTpl>
                <div>{{ 'Wifi hotspot' | translate }}: {{ room.wifiPointSsid }}</div>
                <div *ngIf="room.wifiPointPassword">
                  {{ 'Wifi password' | translate }}: {{ room.wifiPointPassword }}
                </div>
              </ng-template>
            </div>
            <div class="tags" *ngIf="room.tagItems">
              <sows-fade-scroll [scrollableTemplate]="fadeScrollTagsTpl"></sows-fade-scroll>
              <ng-template #fadeScrollTagsTpl>
                <nz-tag *ngFor="let tag of room.tagItems">{{
                  tag | dictLocalization: 'name':localizationData.lang
                }}</nz-tag>
              </ng-template>
            </div>
          </div>
          <nz-divider class="mt-2 mb-1"></nz-divider>
          <button
            [disabled]="
              !!appointment &&
              (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
            "
            nz-button
            nzDanger
            nzBlock
            nzType="default"
            [class.btn-round-default]="mobileVersion"
            (click)="deleteRoom(room)"
          >
            {{ 'Delete the room' | translate }}
          </button>
        </ng-template>
      </div>
    </ng-container>
    <ng-template #noBookingTpl>
      <span class="empty-text">{{ 'Nothing booked' | translate }}</span>
    </ng-template>
  </div>
</div>
