@import 'utils';

.file-upload-wrapper {
  ::ng-deep {
    .ant-upload.ant-upload-drag {
      padding: 8px !important;
      border-radius: 8px !important;
    }

    .ant-upload.ant-upload-drag .ant-upload {
      padding: 0 !important;
    }

    .ant-upload-drag-icon {
      margin: 5px !important;
      * {
        max-height: 35px !important;
      }
    }
  }

  .ant-upload-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: var(--text-color-primary);
  }

  .ant-upload-hint {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-secondary);
  }

  .file {
    @include flex-start;
    transition: all 0.2s ease-in-out;
    gap: 8px;

    &:hover {
      background-color: var(--filter-box-bg-color);

      .actions {
        .action {
          pointer-events: all;
          opacity: 1;
        }
      }
    }

    .icon {
      font-size: 14px;
      color: var(--text-color-secondary);
    }

    .actions {
      @include flex-end;
      gap: 4px;

      a {
        max-width: 24px;

        &:hover > span {
          color: var(--text-color-primary);
        }
      }

      .action {
        pointer-events: none;
        opacity: 0;

        &:hover {
          color: var(--text-color-primary);
        }
      }

      .mobile-action {
        pointer-events: all;
        opacity: 1;
      }
    }

    .file-name {
      overflow: hidden;
      width: calc(100% - 30px);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.mobile-upload-wrapper {
  display: flex;
  flex-direction: column;
  ::ng-deep {
    .ant-upload.ant-upload-drag {
      padding: 5px 16px !important;
      border-radius: 20px !important;
    }
  }

  .mobile-btn {
    @include flex-center;
    gap: 16px;
  }

  nz-upload {
    order: 2;
    display: flex;
    flex-direction: column;
    ::ng-deep {
      .ant-upload {
        margin-top: 6px;
        order: 2;
      }
      nz-upload-list {
        order: 1;
      }
    }
  }
}

.mobile-title {
  font-size: 12px;
}
