<span class="mobile-title" *ngIf="mobileView && attachmentsAvailable && nzShowUploadList">{{ 'Files' | translate }}</span>
<div class="file-upload-wrapper" [class.mobile-upload-wrapper]="mobileView">
  <nz-upload
    *ngIf="
      maxS3FileSizeMb &&
      (!appointment || (appointment?.editableFitTime && (appointment.isOrganizer || appointment.changePermission)))
    "
    nzType="drag"
    [nzDisabled]="
      !maxS3FileSizeMb ||
      (!!appointment && !appointment.editableFitTime && !(appointment.isOrganizer || appointment.changePermission))
    "
    [(nzFileList)]="appointmentEditorService.newFiles"
    [nzCustomRequest]="handleUpload"
    [nzBeforeUpload]="beforeUpload"
    [nzDownload]="handleDownload"
    [nzMultiple]="true"
    [nzShowUploadList]="nzShowUploadList"
    (nzChange)="handleChange($event)"
  >
    <ng-container *ngIf="mobileView; else desktopView">
      <div class="mobile-btn">
        <span nz-icon nzType="upload"></span>
        <span>{{ 'Upload' | translate }}</span>
      </div>
    </ng-container>
    <ng-template #desktopView>
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">{{ 'Click here or drag files to this area to upload' | translate }}</p>
      <p class="ant-upload-hint">
        {{ 'File size should not exceed' | translate }} {{ maxS3FileSizeMb }}{{ 'MB' | translate }}
      </p>
    </ng-template>
  </nz-upload>
  <ng-container *ngFor="let bindedAttachment of appointment?.attachments?.bindedAttachments; let index = index">
    <div class="file">
      <span nz-icon nzType="paper-clip" nzTheme="outline" class="icon"></span>
      <span class="file-name" [title]="bindedAttachment.fileName">{{ bindedAttachment.fileName }}</span>
      <div class="actions">
        <a
          [href]="downloadUrl + bindedAttachment.id"
          target="_blank"
          nz-button
          nzType="link"
          class="action"
          [class.mobile-action]="mobileView"
          [title]="'Download file' | translate"
        >
          <span nz-icon nzType="download" nzTheme="outline" class="icon"></span>
        </a>
        <span
          *ngIf="
            !appointment || (appointment?.editableFitTime && (appointment.isOrganizer || appointment.changePermission))
          "
          nz-icon
          nzType="delete"
          nzTheme="outline"
          (click)="deleteBindedAttachment(index)"
          [title]="'Remove file' | translate"
          [class.mobile-action]="mobileView"
          class="icon action"
        ></span>
      </div>
    </div>
  </ng-container>
</div>
