<div *ngIf="localizationData$ | async as localizationData" [dir]="localizationData.dir" class="wrap">
  <div class="search-wrapper">
    <div class="custom-select pointer" (click)="toggleCategorySelect()">
      <span class="option-name">{{ selectedCategory.name | translate }}</span>
      <span nz-icon [nzType]="categorySelectOpen ? 'up' : 'down'" nzTheme="outline"></span>
    </div>
    <div class="input">
      <div class="input-wrapper">
        <input
          #inputField
          class="input-field"
          type="text"
          [(ngModel)]="globalSearchService.searchStr"
          (ngModelChange)="reload()"
          [placeholder]="'Search' | translate"
          (focus)="inputFocused = true"
          (blur)="handleBlur()"
        />
        <span
          *ngIf="globalSearchService.searchStr"
          class="clear-icon"
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          [class.l-0]="localizationData.dir === 'rtl'"
          [class.r-0]="localizationData.dir === 'ltr'"
          (click)="clearInput()"
        ></span>
      </div>
      <span class="search-icon" nz-icon nzType="search" nzTheme="outline"></span>
    </div>
  </div>
  <div class="dropdown-wrapper" *ngIf="categorySelectOpen || results">
    <ng-container *ngIf="categorySelectOpen">
      <ng-container *ngTemplateOutlet="categoryOptionsTpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="results && !categorySelectOpen && inputFocused">
      <ng-container *ngTemplateOutlet="resultsTpl"></ng-container>
    </ng-container>
  </div>

  <ng-template #categoryOptionsTpl>
    <div class="categories">
      <div class="title mb-2">{{ 'Search categories' | translate }}</div>
      <div class="options">
        <div class="item pointer" *ngFor="let category of categories" (click)="setSelectedCategory(category)">
          <span nz-icon [nzType]="category.icon" nzTheme="outline"></span>
          {{ category.name | translate }}
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #resultsTpl>
    <div class="result-list" *ngIf="results && results.resultCount; else noDataTpl">
      <!-- "Все" -->
      <ng-container *ngIf="!selectedCategory.value">
        <ng-container *ngIf="results['LABEL']?.length">
          <div class="section-title">
            {{ 'Object types.LABEL' | translate }}
          </div>
          <ng-container *ngTemplateOutlet="userItemTpl; context: { $implicit: results['LABEL'] }"></ng-container>
        </ng-container>

        <ng-container *ngIf="results['WORKPLACE']?.length">
          <div class="section-title">
            {{ 'Object types.WORKPLACE' | translate }}
          </div>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['WORKPLACE'], objectType: 'WORKPLACE' }"
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="results['PARKING_LOT']?.length">
          <div class="section-title">
            {{ 'Object types.PARKING_LOT' | translate }}
          </div>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['PARKING_LOT'], objectType: 'PARKING_LOT' }"
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="results['ROOM']?.length">
          <div class="section-title">
            {{ 'Object types.ROOM' | translate }}
          </div>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['ROOM'], objectType: 'ROOM' }"
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="results['LOCKER_BLOCK']?.length">
          <div class="section-title">
            {{ 'Object types.LOCKER_BLOCK' | translate }}
          </div>
          <ng-container
            *ngTemplateOutlet="
              placeItemTpl;
              context: { $implicit: results['LOCKER_BLOCK'], objectType: 'LOCKER_BLOCK' }
            "
          ></ng-container>
        </ng-container>

        <ng-container *ngIf="results['POI']?.length">
          <div class="section-title">
            {{ 'Object types.POI' | translate }}
          </div>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['POI'], objectType: 'POI' }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <!-- индивидуальные категории -->
      <ng-container *ngIf="selectedCategory.value === 'LABEL'">
        <ng-container *ngIf="results['LABEL']?.length; else noDataTpl">
          <ng-container
            *ngTemplateOutlet="resultTextTpl; context: { $implicit: results['LABEL'].length }"
          ></ng-container>
          <ng-container *ngTemplateOutlet="userItemTpl; context: { $implicit: results['LABEL'] }"></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedCategory.value === 'WORKPLACE'">
        <ng-container *ngIf="results['WORKPLACE']?.length; else noDataTpl">
          <ng-container
            *ngTemplateOutlet="resultTextTpl; context: { $implicit: results['WORKPLACE'].length }"
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['WORKPLACE'], objectType: 'WORKPLACE' }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedCategory.value === 'PARKING_LOT'">
        <ng-container *ngIf="results['PARKING_LOT']?.length; else noDataTpl">
          <ng-container
            *ngTemplateOutlet="resultTextTpl; context: { $implicit: results['PARKING_LOT'].length }"
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['PARKING_LOT'], objectType: 'PARKING_LOT' }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedCategory.value === 'ROOM'">
        <ng-container *ngIf="results['ROOM']?.length; else noDataTpl">
          <ng-container
            *ngTemplateOutlet="resultTextTpl; context: { $implicit: results['ROOM'].length }"
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['ROOM'], objectType: 'ROOM' }"
          ></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedCategory.value === 'LOCKER_BLOCK'">
        <ng-container *ngIf="results['LOCKER_BLOCK']?.length; else noDataTpl">
          <ng-container
            *ngTemplateOutlet="resultTextTpl; context: { $implicit: results['LOCKER_BLOCK'].length }"
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              placeItemTpl;
              context: { $implicit: results['LOCKER_BLOCK'], objectType: 'LOCKER_BLOCK' }
            "
          ></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="selectedCategory.value === 'POI'">
        <ng-container *ngIf="results['POI']?.length; else noDataTpl">
          <ng-container *ngTemplateOutlet="resultTextTpl; context: { $implicit: results['POI'].length }"></ng-container>
          <ng-container
            *ngTemplateOutlet="placeItemTpl; context: { $implicit: results['POI'], objectType: 'POI' }"
          ></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #placeItemTpl let-places let-objectType="objectType">
    <div class="list">
      <div class="place-item" *ngFor="let place of places" (click)="handlePlaceItemClick(place, objectType)">
        <div class="avatar">
          <nz-avatar [nzSize]="30" [nzSrc]="getAvatarByObjectType(place, objectType)"></nz-avatar>
        </div>
        <div class="info">
          <div class="row">
            <div class="name">{{ place | dictLocalization: 'name':localizationData.lang }}</div>
            <div class="extra" *ngIf="place.isFavourite">
              <img [src]="FAV" />
            </div>
          </div>
          <div class="row">
            <div class="description">
              <ng-container *ngIf="place.type !== 'VIRTUAL'; else virtualRoomTpl">
                {{ place.building | dictLocalization: 'name':localizationData.lang }} ,
                {{ place.floorMap | dictLocalization: 'name':localizationData.lang }}
              </ng-container>
              <ng-template #virtualRoomTpl>
                {{ 'gender.Virtual.2' | translate }}
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #userItemTpl let-users>
    <div class="list">
      <div *ngFor="let user of users" class="user-item" (click)="handleUserItemClick(user)">
        <sows-user-card-in-list [user]="user"></sows-user-card-in-list>
      </div>
    </div>
  </ng-template>

  <ng-template #noDataTpl>
    <div class="no-data">
      <p class="f-w-600 m-0">{{ 'Nothing found by the query' | translate }}</p>
      <span>{{ 'Suggestions.title' | translate }}:</span>
      <ul>
        <li>{{ 'Suggestions.0' | translate }}</li>
        <li>{{ 'Suggestions.1' | translate }}</li>
        <li>{{ 'Suggestions.2' | translate }}</li>
      </ul>
    </div>
  </ng-template>

  <ng-template #resultTextTpl let-count>
    <span class="result-text">
      {{ getResultText(count) }}
    </span>
  </ng-template>
</div>

<div class="backdrop" *ngIf="categorySelectOpen || inputFocused" (click)="reset()"></div>
