@import 'utils';

.wrap {
  z-index: 2;
  position: relative;
  margin: 0 $wrap-padding;
  .search-wrapper {
    background-color: var(--header-search-bg-color);
    padding: 5px 12px;
    border-radius: 4px;
    @include flex-space-between;
    gap: 16px;
    height: 32px;
    min-width: 300px;
    max-width: 500px;
    width: 1000px;

    .custom-select {
      @include flex-space-between;
      gap: 8px;
      color: var(--text-color-white);
      min-width: 170px;
      .option-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
    }

    .input {
      @include flex-space-between;
      flex-grow: 1;
      gap: 8px;
      .input-wrapper {
        position: relative;
        width: 100%;
        .input-field {
          width: calc(100% - 16px);
          outline: none;
          border: none;
          background-color: transparent;
          color: var(--text-color-white);
          &::placeholder {
            color: var(--text-color-disabled);
          }
        }
        .clear-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: var(--text-color-white);
          cursor: pointer;
        }
      }

      .search-icon {
        color: var(--text-color-white);
      }
    }
  }
  .dropdown-wrapper {
    border-radius: 4px;
    background-color: var(--header-search-bg-color);
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 1;

    .categories {
      padding: 8px 12px;
      .title {
        color: var(--text-color-secondary);
        font-size: 12px;
        font-weight: 600;
      }
      .options {
        @include flex-center;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        .item {
          color: var(--text-color-white);
          font-size: 14px;
          @include flex-start;
          gap: 8px;
          color: var(--text-color-white);
        }
      }
    }

    .result-list {
      max-height: 400px;
      overflow: auto;
      .list {
        padding: 8px 12px;
        @include flex-start;
        flex-direction: column;
        gap: 8px;
        .user-item {
          cursor: pointer;
          width: 100%;
        }
        .place-item {
          width: 100%;
          cursor: pointer;
          @include flex-start;
          gap: 8px;
          .info {
            @include flex-start;
            flex-direction: column;
            .row {
              width: 100%;
              @include flex-space-between;
              .name {
                color: var(--text-color-white);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .extra {
                width: 16px;
                height: 16px;
                img {
                  display: block;
                  width: 100%;
                }
              }
              .description {
                color: var(--text-color-secondary);
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .no-data {
    padding: 8px 12px;
    color: var(--text-color-white);
    ul {
      list-style-position: inside;
      margin: 0 12px;
    }
  }

  .section-title {
    padding: 8px 12px;
    color: var(--text-color-secondary);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--header-search-active-bg-color);
  z-index: 1;
}

:host::ng-deep {
  .user_info-name {
    color: var(--text-color-white);
  }
  .user_info__department {
    display: none !important;
  }
  .user {
    height: auto !important;
  }
}

.result-text {
  padding: 8px 12px;
  color: var(--text-color-white);
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--divider-color);
  display: block;
  width: 100%;
}
