<ng-container *ngIf="screenSize$ | async as screenSize">
  <div
    *ngIf="localizationData$ | async as localizationData"
    [dir]="localizationData.dir"
    class="wrap"
    [class.mobile-wrap]="screenSize === 'SMALL'"
    [style.height.px]="settingsHeight"
  >
    <h3 class="card-title">{{ 'Meeting' | translate }}</h3>
    <nz-divider class="mb-3 mt-3" *ngIf="screenSize !== 'SMALL'"></nz-divider>
    <div
      class="subject-input mb-1"
      [class.disabled]="
        !!appointment && (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
      "
    >
      <nz-form-item class="m-0">
        <nz-form-control>
          <nz-input-group>
            <ng-container *ngIf="screenSize !== 'SMALL'; else mobileInputTpl">
              <input
                [disabled]="
                  !!appointment &&
                  (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
                "
                nz-input
                [placeholder]="'Meeting subject' | translate"
                [(ngModel)]="putAppointmentRequest.subject"
                (ngModelChange)="onHasChanges()"
              />
            </ng-container>
            <ng-template #mobileInputTpl>
              <sows-mobile-input
                [disabled]="
                  !!appointment &&
                  (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
                "
                [inputLabel]="'Name' | translate"
                [inputType]="'text'"
                [inputPlaceholder]="'Meeting subject' | translate"
                [(ngModel)]="putAppointmentRequest.subject"
                (ngModelChange)="onHasChanges()"
              ></sows-mobile-input>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div
      class="location-input row mb-1"
      [class.disabled]="
        !!appointment && (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
      "
    >
      <span nz-icon nzTheme="outline" nzType="environment" *ngIf="screenSize !== 'SMALL'"></span>
      <nz-form-item class="w-100 m-0">
        <nz-form-control>
          <nz-input-group>
            <ng-container *ngIf="screenSize !== 'SMALL'; else mobilePlaceInputTpl">
              <input
                [disabled]="
                  !!appointment &&
                  (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
                "
                nz-input
                [placeholder]="'Meeting location' | translate"
                [(ngModel)]="putAppointmentRequest.location"
                (ngModelChange)="onHasChanges()"
              />
            </ng-container>
            <ng-template #mobilePlaceInputTpl>
              <sows-mobile-input
                [disabled]="
                  !!appointment &&
                  (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
                "
                [inputLabel]="'Place' | translate"
                [inputType]="'text'"
                [inputPlaceholder]="'Meeting location' | translate"
                [(ngModel)]="putAppointmentRequest.location"
                (ngModelChange)="onHasChanges()"
              ></sows-mobile-input>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="row" *ngIf="screenSize !== 'SMALL'">
      <span nz-icon nzType="user" nzTheme="outline"></span>
      <span>{{ (appointment?.organizerUser || currentUser).name }}</span>
    </div>
    <nz-divider *ngIf="screenSize !== 'SMALL'" class="mb-2 mt-2"></nz-divider>
    <ng-container *ngIf="exceptionMessages?.length">
      <nz-alert [nzMessage]="exceptionMessagesTpl" class="mb-3 w-100" nzShowIcon nzType="warning"></nz-alert>
      <ng-template #exceptionMessagesTpl>
        <div *ngFor="let message of exceptionMessages">{{ message }}</div>
      </ng-template>
    </ng-container>
    <div class="select" *ngIf="putAppointmentRequest.dateTimeFromDate">
      <sows-date-picker
        [disabled]="
          !!appointment && (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
        "
        [date]="putAppointmentRequest.dateTimeFromDate"
        [customOutput]="screenSize === 'SMALL' ? mobilePickerTpl : null"
        [simpleMode]="screenSize === 'SMALL'"
        (modelChangeAction)="setDateTimeFromDate($event)"
      ></sows-date-picker>
      <ng-template #mobilePickerTpl>
        <div class="mobile-select">
          <div class="label">{{ 'Date' | translate }}</div>
          <div class="select">
            <span class="value" *ngIf="appointmentDates.length > 0">
              {{ appointmentDates[0].getDate() }}&nbsp;{{
                'months2.' + appointmentDates[0].getMonth() | translate
              }},&nbsp;{{ appointmentDates[0].getFullYear() }}&nbsp;
            </span>
            <span nz-icon class="icon" nzType="down" nzTheme="outline"></span>
          </div>
        </div>
      </ng-template>
      <sows-time-range-picker
        [readOnly]="
          !!appointment && (!appointment.editableFitTime || !(appointment.isOrganizer || appointment.changePermission))
        "
        [minDurationMin]="reservationDurationMinMinutes"
        [busyRanges]="[]"
        [dates]="[putAppointmentRequest.dateTimeFromDate!, putAppointmentRequest.dateTimeToDate!]"
        [minStep]="reservationTimeStepMinutes"
        [workHours]="workHours"
        [customOutput]="screenSize === 'SMALL' ? mobileTimeRangePickerTpl : null"
        (modelChangeAction)="setDateTimeFromToDate($event)"
      ></sows-time-range-picker>
      <ng-template #mobileTimeRangePickerTpl>
        <div class="mobile-select">
          <div class="label">{{ 'Time' | translate }}</div>
          <div class="select">
            <span class="value" *ngIf="appointmentDates.length > 0">
              <span>{{ appointmentDates[0] | date: 'HH:mm' }}</span>
              <div class="divider"></div>
              <span>{{ appointmentDates[1] | date: 'HH:mm' }}</span>
            </span>
            <span nz-icon class="icon" nzType="down" nzTheme="outline"></span>
          </div>
        </div>
      </ng-template>
    </div>
    <nz-divider *ngIf="screenSize !== 'SMALL'" class="mb-3 mt-2"></nz-divider>
    <div
      class="meeting-desc pointer"
      (click)="openBodyEditor()"
      nz-popover
      [nzPopoverTrigger]="!requestBodyText.length || screenSize === 'SMALL' ? null : 'hover'"
      [nzPopoverPlacement]="localizationData.dir === 'ltr' ? 'rightBottom' : 'leftBottom'"
      [nzPopoverContent]="nzPopoverContent"
    >
      <span class="meeting-desc_icon" nz-icon nzTheme="outline" nzType="description-edit-custom"></span>
      <ng-container *ngIf="putAppointmentRequest.body; else bodyTpl">
        <div class="meeting-desc_text">
          <div [innerHTML]="requestBody" *ngIf="requestBodyText.length; else emptyBody"></div>
          <ng-template #emptyBody>{{ 'Meeting description' | translate }}</ng-template>
        </div>
      </ng-container>
      <ng-template #bodyTpl>
        <p class="meeting-desc_text">
          {{ 'Meeting description' | translate }}
        </p>
      </ng-template>
      <ng-template #nzPopoverContent><div class="meeting-desc-popover" [innerHTML]="requestBody"></div></ng-template>
    </div>
    <nz-divider *ngIf="screenSize !== 'SMALL'" class="mb-3 mt-2"></nz-divider>
    <div class="files">
      <sows-appointment-editor-file-manager
        [mobileView]="screenSize === 'SMALL'"
        [appointment]="appointment"
      ></sows-appointment-editor-file-manager>
    </div>
    <nz-drawer
      [nzClosable]="false"
      [nzWidth]="'calc(100% - 440px)'"
      [nzVisible]="bodyEditorShow"
      [nzPlacement]="localizationData.dir === 'ltr' ? 'right' : 'left'"
      (nzOnClose)="closeBodyEditor()"
    >
      <ng-container *nzDrawerContent>
        <ng-container *ngTemplateOutlet="bodyEditorTpl"></ng-container>
      </ng-container>
    </nz-drawer>
  </div>

  <ng-template #bodyEditorTpl>
    <div class="drawer-container">
      <div class="drawer-title mb-3" *ngIf="screenSize !== 'SMALL'">
        {{ 'Meeting description' | translate }}
      </div>
      <ng-container
        *ngIf="
          !appointment || (appointment.editableFitTime && (appointment.isOrganizer || appointment.changePermission));
          else disabledTpl
        "
      >
        <div class="drawer-textarea">
          <nz-form-item class="m-0">
            <nz-form-control>
              <nz-input-group>
                <div class="text-editor">
                  <angular-editor
                    [placeholder]="'Think of a description' | translate"
                    [config]="editorConfig"
                    [(ngModel)]="body"
                    (ngModelChange)="onDescChange($event)"
                  ></angular-editor>
                </div>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div [class.p-1]="screenSize === 'SMALL'">
          <sows-appointment-editor-file-manager
            [mobileView]="screenSize === 'SMALL'"
            [nzShowUploadList]="false"
            [appointment]="appointment"
          ></sows-appointment-editor-file-manager>
        </div>
      </ng-container>
      <ng-template #disabledTpl>
        <div class="meeting-desc-disabled">
          <div class="meeting-desc-disabled_text">
            <div [innerHTML]="requestBody"></div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ng-container>
