@import 'utils';

.wrap {
  overflow-y: auto;
  width: 100%;
  padding: 24px;
  background-color: var(--card-body-bg-color);

  .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 0;
  }

  .subject-input {
    ::ng-deep {
      .ant-input {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        height: 24px;
        color: var(--text-color-primary);
        border: none;
        border-bottom: 1px dashed var(--text-color-primary);
        outline: none;
        padding-inline: 0;

        &:focus,
        &:hover {
          color: var(--color-primary);
          border: none;
          border-bottom: 1px dashed var(--color-primary);
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .location-input {
    ::ng-deep {
      .ant-input {
        font-family: 'Montserrat', sans-serif;
        height: 23px;
        color: var(--text-color-primary);
        border: none;
        border-bottom: 1px dashed var(--text-color-primary);
        outline: none;
        padding-inline: 0;

        &:focus,
        &:hover {
          color: var(--color-primary);
          border: none;
          border-bottom: 1px dashed var(--color-primary);
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .disabled {
    ::ng-deep {
      .ant-input {
        &:focus,
        &:hover {
          color: var(--text-color-primary);
          border: none;
          border-bottom: 1px dashed var(--text-color-primary);
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .row {
    @include flex-start;
    gap: 14px;
  }

  .meeting-desc {
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    padding: 10px 8px;
    border: 1px solid var(--widget-border-color);
    border-radius: 8px;
    background-color: var(--office-card-header-color);

    &_icon {
      font-size: 18px;
    }

    &_text {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      margin: 0 0 0 5px;
      overflow: hidden;
      text-overflow: fade;
      ::ng-deep {
        ul {
          list-style: none;
          padding-left: 0;
        }
        ul li {
          position: relative;
          padding-left: 20px;
        }

        ul li:before {
          content: '●';
          position: absolute;
          left: 0px;
        }
        ol {
          list-style: none;
          padding-left: 0;
          counter-reset: myCounter;
        }
        ol li {
          position: relative;
          padding-left: 20px;
        }

        ol li:before {
          counter-increment: myCounter;
          content: counter(myCounter);
          position: absolute;
          left: 0px;
          top: 1px;
        }
      }
    }
  }
}

.select {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 5px 0 6px 0;
}

.drawer-container {
  position: relative;
  width: 100%;
  height: 100%;

  .drawer-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }

  .drawer-textarea {
    overflow-y: auto;
    max-height: calc(100% - 132px);

    .text-editor {
      ::ng-deep {
        .angular-editor-textarea {
          border: 1px solid var(--divider-color);
          outline: none;

          ul,
          ol {
            list-style-position: inside;
          }
        }

        .angular-editor-toolbar {
          border: none;
          background-color: var(--cropper-overlay-color);
        }

        .angular-editor-button {
          color: var(--text-color-primary);
          border: none;
          background-color: var(--cropper-overlay-color);

          &:hover {
            color: var(--text-color-black);
          }
        }

        .angular-editor-button.active {
          color: var(--text-color-black);
        }
      }
    }
  }

  .drawer-btn {
    position: absolute;
    bottom: 0;
  }
}

.meeting-desc-popover {
  max-height: 70vh;
  max-width: calc(min(100vw, 1920px) - 500px);
  overflow-y: auto;
  padding: 10px;
  ::ng-deep {
    ul {
      padding-left: 15px;
    }
    ol {
      padding-left: 15px;
    }
  }
}

.meeting-desc-disabled {
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 10px 8px;

  &_icon {
    font-size: 18px;
  }

  &_text {
    margin: 0 0 0 5px;
    ::ng-deep {
      ul {
        list-style: none;
        padding-left: 0;
      }
      ul li {
        position: relative;
        padding-left: 20px;
      }

      ul li:before {
        content: '●';
        position: absolute;
        left: 0px;
      }
      ol {
        list-style: none;
        padding-left: 0;
        counter-reset: myCounter;
      }
      ol li {
        position: relative;
        padding-left: 20px;
      }

      ol li:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        position: absolute;
        left: 0px;
        top: 1px;
      }
    }
  }
}

.mobile-wrap {
  border-radius: 16px;
  border: 1px solid var(--shadow-color);
  background: var(--mobile-filter-bg-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto !important;
}

.mobile-select {
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider-color);

  .label {
    color: var(--text-color-primary);
    font-size: 12px;
    font-weight: 400;
  }
  .select {
    @include flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    .value {
      color: var(--text-color-primary);
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include flex-center;
      gap: 4px;
      .divider {
        width: 20px;
        height: 2px;
        background-color: var(--text-color-primary);
      }
    }
    .icon {
      font-size: 14px;
    }
  }
}
