<ng-container *ngIf="screenSize$ | async as screenSize">
  <div
    class="wrap"
    [class.mobile-wrap]="screenSize === 'SMALL'"
    *ngIf="localizationData$ | async as localizationData"
    [dir]="localizationData.dir"
  >
    <sows-custom-collapse
      [active]="true"
      [disabled]="true"
      [title]="virtualTitleTpl"
      [customIndicatorTpl]="virtualCustomIndicatorTpl"
      [collapseContentTpl]="virtualContentTpl"
    ></sows-custom-collapse>
    <ng-template #virtualTitleTpl>
      <div class="title">{{ 'Virtual conference' | translate }}</div>
    </ng-template>

    <ng-template #virtualCustomIndicatorTpl>
      <nz-switch [ngModel]="true" [nzDisabled]="true"></nz-switch>
    </ng-template>

    <ng-template #virtualContentTpl>
      <nz-divider *ngIf="screenSize !== 'SMALL'" class="mt-1 mb-3"></nz-divider>
      <div class="info" *ngIf="virtualConference">
        <div class="row">
          <a class="link text" [href]="virtualConference.url" target="_blank">{{ virtualConference.url }}</a>
          <span
            class="pointer copy"
            nz-icon
            nzType="copy"
            nzTheme="outline"
            (click)="copyToClipboard(virtualConference.url)"
          ></span>
        </div>
        <div class="row" *ngIf="virtualConference.code">
          <div class="code text">
            <span class="label">{{ 'Code' | translate }}: </span>
            <span class="text">{{ virtualConference.code }}</span>
          </div>
          <span
            class="pointer copy"
            nz-icon
            nzType="copy"
            nzTheme="outline"
            (click)="copyToClipboard(virtualConference.code)"
          ></span>
        </div>
      </div>
    </ng-template>
  </div>
</ng-container>
