.wrap {
  width: 100%;
  padding: 24px;
  background-color: var(--card-body-bg-color);

  .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color-primary);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
    }

    .link {
      color: var(--color-primary);
    }

    .text {
      font-size: 14px;
      line-height: 19px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .copy {
      color: var(--color-primary);
    }
  }
}

.mobile-wrap {
  border-radius: 16px;
  border: 1px solid var(--shadow-color);
  background: var(--mobile-filter-bg-color);

  .info {
    margin-top: 20px;
  }
}
