<ng-container *ngIf="footerMode; else headerModeTpl">
  <div
    class="wrap-header-mobile"
    #mobileFooter
    *ngIf="localizationData$ | async as localizationData"
    [dir]="localizationData.dir"
  >
    <ng-container *ngTemplateOutlet="actionsTpl"></ng-container>
  </div>
</ng-container>
<ng-template #headerModeTpl>
  <div class="wrap-header" *ngIf="localizationData$ | async as localizationData" [dir]="localizationData.dir">
    <div class="header-content-container">
      <h1 class="header-title ellipsis">
        {{ appointment ? appointment.subject : ('New appointment' | translate) }}
      </h1>
      <ng-container *ngTemplateOutlet="actionsTpl"></ng-container>
    </div>
    <div class="header-content-container">
      <div class="header-extra">
        <div class="header-close">
          <button (click)="onBack()" [nzSize]="'large'" nz-button nzType="text" class="close-btn">
            <span class="pointer header-action" nz-icon nzTheme="outline" nzType="close-custom"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #actionsTpl>
  <div class="header-btns" [class.header-btns-mobile]="footerMode">
    <button
      *ngIf="!appointment"
      nz-button
      nzType="primary"
      [class.mobile-btn]="footerMode"
      [disabled]="!!exceptionMessages.length || !(appointmentEditorService.hasChanges$ | async)"
      (click)="onCreate()"
    >
      {{ (footerMode ? 'Create a meeting' : 'Save') | translate }}
    </button>
    <button
      *ngIf="appointment"
      nz-button
      nzType="primary"
      [class.mobile-btn]="footerMode"
      [disabled]="
        !!exceptionMessages.length ||
        !appointment.editableFitTime ||
        !(appointment.isOrganizer || appointment.changePermission) ||
        !(appointmentEditorService.hasChanges$ | async)
      "
      (click)="onSave()"
    >
      {{ 'Save' | translate }}
    </button>
    <div class="row">
      <button
        *ngIf="appointment"
        nz-button
        nzType="primary"
        [disabled]="
          !hasAppointmentStarted ||
          !!exceptionMessages.length ||
          !(appointment.isOrganizer || appointment.changePermission) ||
          appointment.appointmentStatus === 'CLOSED'
        "
        (click)="onExtend()"
      >
        {{ 'Extend' | translate }}
      </button>
      <ng-container *ngIf="appointment">
        <ng-container *ngIf="appointment.appointmentStatus !== 'CLOSED'; else deleteTpl">
          <button
            nz-button
            nzType="default"
            nzDanger
            (click)="onDelete()"
            [disabled]="!(appointment.isOrganizer || appointment.cancelPermission)"
          >
            {{ 'To cancel' | translate }}
          </button>
        </ng-container>
        <ng-template #deleteTpl>
          <button
            nz-button
            nzType="default"
            nzDanger
            (click)="onDelete()"
            [disabled]="!(appointment.isOrganizer || appointment.cancelPermission)"
          >
            {{ 'Delete' | translate }}
          </button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>
