@import 'utils';

.wrap-header {
  @include flex-space-between;

  .header-content-container:first-child {
    @include flex-start;
    gap: 46px;
  }

  .header-content-container:last-child {
    @include flex-end;
  }

  .header-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    color: var(--text-color-primary);
    max-width: 700px;
  }

  .header-btns {
    @include flex-start;
    gap: 16px;
  }
}

.wrap-header-mobile {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--mobile-layout-bg-color);
}

.header-btns-mobile {
  padding: 20px;
  @include flex-space-between;
  flex-direction: column;
  gap: 12px;

  .mobile-btn {
    width: 100%;
    height: 40px;
    @include btn-round-default;
  }

  .row {
    width: 100%;
    @include flex-space-between;
    flex-direction: row;
    gap: 12px;
    button {
      width: 100%;
      height: 40px;
      @include btn-round-default;
    }
  }
}
